---
layout: archive
title: "Honors and Awards"
permalink: /honors/
author_profile: true
---

<ul>
  <li>2023
    <ul>
      <li>School-Level First Prize Scholarship<br><i>Tianjin University</i></li>
      <li>School-level Outstanding Student<br><i>Tianjin University</i></li>
    </ul>
  </li>
  <li>2022
    <ul>
      <li>School-level Outstanding Student<br><i>Tianjin University</i></li>
    </ul>
  </li>
  <li>2021
    <ul>
      <li>Second Prize of The 9th Teddy Cup Data Mining Challenge<br><i>Teddy Cup Data Mining Challenge Committee</i></li>
      <li>Second Prize of ASC World University Supercomputing Competition<br><i>Southern University of Science and Technology of China</i></li>
      <li>First Prize of Principal Scholarship<br><i>Tianjin Polytechnic University</i></li>
    </ul>
  </li>
  <li>2020
    <ul>
      <li>Second Prize in the 12th National College Student Mathematics Competition<br><i>Chinese Mathematical Society</i></li>
      <li>First Prize in the Chinese Graduate Mathematical Modeling Competitionstrong><br><i>Organizing Committee of China Graduate Mathematical Modeling</i></li>
      <li>Honorable Mention of Mathematical Contest In Modeling<br><i>COMAP (US)</i></li>
      <li>First Prize in the Chinese Graduate Mathematical Modeling Competition<br><i>Organizing Committee of China Graduate Mathematical Modeling</i></li>
      <li>School-level Outstanding Student<br><i>Tianjin Polytechnic University</i></li>
      <li>Bronze Award in the National College Student Algorithm Design and Programming Challenge<br><i>Tianjin Polytechnic University</i></li>
      <li>Third Prize in the May Day Mathematical Modeling Competition <br><i>Tianjin Polytechnic University</i></li>
      <li>First prize in the undergraduate category of the MathorCup College Mathematical Modeling Challenge<br><i>China Optimal Law System Planning and Economic Mathematics Research Association</i></li>
      <li>First Prize of the National College Student Mathematical Modeling Competition (Tianjin Division)<br><i>Chinese Society of Industrial and Applied Mathematics</i></li>
    </ul>
  </li>
  <li>2019
    <ul>
      <li>First Prize of Principal Scholarship<br><i>Tianjin Polytechnic University</i></li>
      <li>Tianjin Municipal Government People’s Scholarship<br><i>Tianjin Municipal Commission of Education</i></li>
      <li>School-level Outstanding Student<br><i>Tianjin Polytechnic University</i></li>
      <li>Third Prize in the 11th National College Student Mathematics Competition<br><i>Chinese Mathematical Society</i></li>
      <li>Second Prize in the Mathematics Competition of Ordinary Universities in Tianjin<br><i>Tianjin Municipal Commission of Education</i></li>
    </ul>
  </li>
  <li>2018
    <ul>
      <li>Tianjin Polytechnic University 2018 Freshman Scholarship<br><i>Tianjin Polytechnic University</i></li>
    </ul>
  </li>
</ul>


{% include base_path %}

{% for post in site.honors reversed %}
  {% include archive-single.html %}
{% endfor %}
