---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

<h3>Chair-ship and Organizer</h3>

<ul>
  <li>2025
    <ul>
      <li><strong>[Publicity Chair]</strong> The 4th Workshop on Ethical Artificial Intelligence: Methods and Applications (EAI @ KDD'25).</li>
      <li><strong>[Publicity Chair]</strong> The 4th Workshop on Uncertainty Reasoning and Quantification in Decision Making (UDM @ KDD'25).</li>
      <li><strong>[Web Chair]</strong> The 2nd Workshops on Advances in Robust and Reliable Machine Learning (ARRML @ SDM'25).</li>
    </ul>
  </li>
</ul>

<h3>Conference Program Committee / Reviewer</h3>

<ul>
  <li>2025
    <ul>
      <li>KDD 2025 Datasets and Benchmarks Track February -- <i>Program Committee</i></li>
      <li>IJCAI 2025 Survey Track PC -- <i>Program Committee</i></li>
      <li>ACL Rolling Review - February 2025 -- <i>Reviewer</i></li>
      <li>KDD 2025 February Cycle -- <i>Reviewer</i></li>
    </ul>
  </li>
  <li>2024
    <ul>
      <li>ACL Rolling Review - December 2024 -- <i>Reviewer</i></li>
    </ul>
  </li>
</ul>

<h3>Workshop Reviewer</h3>

<ul>
  <li>2025
    <ul>
      <li>SDM Workshop on Advances in Robust and Reliable Machine Learning, 2025</li>
    </ul>
  </li>
  <li>2024
    <ul>
      <li>KDD Workshop on Uncertainty Reasoning and Quantification in Decision Making, 2024</li>
      <li>KDD Workshop on Ethical Artificial Intelligence: Methods and Applications, 2024</li>
    </ul>
  </li>
</ul>

{% include base_path %}

{% for post in site.services reversed %}
  {% include archive-single.html %}
{% endfor %}
