---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

<h3>Chair-ship and Organizer</h3>

<ul>
  <li>2025
    <ul>
      <li><strong>[Web Chair]</strong> The 2nd Workshops on Advances in Robust and Reliable Machine Learning (ARRML @ SDM'25).</li>
    </ul>
  </li>
</ul>

<h3>Conference Program Committee / Reviewer</h3>

<ul>
  <li>2025
    <ul>
      <li>ACL Rolling Review - December 2024</li>
    </ul>
  </li>
</ul>

<h3>Workshop Reviewer</h3>

<ul>
  <li>2024
    <ul>
      <li>KDD Workshop on Uncertainty Reasoning and Quantification in Decision Making</li>
      <li>KDD Workshop on Ethical Artificial Intelligence: Methods and Applications</li>
    </ul>
  </li>
</ul>

{% include base_path %}

{% for post in site.services reversed %}
  {% include archive-single.html %}
{% endfor %}
