---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

<h3>Chair-ship and Organizer</h3>

<ul>
  <li>2025
    <ul>
      <li><strong>[Publicity Chair]</strong> The 4th Workshop on Ethical Artificial Intelligence: Methods and Applications (EAI @ KDD'25).</li>
      <li><strong>[Publicity Chair]</strong> The 4th Workshop on Uncertainty Reasoning and Quantification in Decision Making (UDM @ KDD'25).</li>
      <li><strong>[Web Chair]</strong> The 2nd Workshops on Advances in Robust and Reliable Machine Learning (ARRML @ SDM'25).</li>
    </ul>
  </li>
</ul>

<h3>Conference Program Committee / Reviewer</h3>

<ul>
  <li>2026
    <ul>
      <li>ACL ARR 2026 January -- <i>Reviewer</i></li>
      <li>ICML 2026 -- <i>Reviewer</i></li>
      <li>KDD 2026 AI4Sciences Track February Cycle -- <i>Reviewer</i></li>
      <li>KDD 2026 Datasets and Benchmarks Track February Cycle -- <i>Reviewer</i></li>
      <li>KDD 2026 Research Track February Cycle -- <i>Reviewer</i></li>
      <li>IJCAI 2026 Survey Track -- <i>Reviewer</i></li>
      <li>PAKDD 2026 -- <i>Reviewer</i></li>
      <li>ICASSP 2026 -- <i>Reviewer</i></li>
      <li>WWW 2026 -- <i>Program Committee</i></li>
      <li>AAAI 2026 -- <i>Program Committee</i></li>
      <li>SIGKDD 2026 Research Track - <i>Reviewer</i></li>
    </ul>
  </li>
  <li>2025
    <ul>
      <li>ACL ARR 2025 May -- <i>Reviewer</i></li>
      <li>ECML PKDD 2025 -- <i>Reviewer</i></li>
      <li>KDD 2025 Datasets and Benchmarks Track February Cycle -- <i>Program Committee</i></li>
      <li>IJCAI 2025 Survey Track -- <i>Program Committee</i></li>
      <li>ACL ARR 2025 February -- <i>Reviewer</i></li>
      <li>KDD 2025 Research Track February Cycle -- <i>Reviewer</i></li>
    </ul>
  </li>
  <li>2024
    <ul>
      <li>ACL ARR 2024 December 2024 -- <i>Reviewer</i></li>
    </ul>
  </li>
</ul>

<h3>Volunteer</h3>

<ul>
  <li>2025
    <ul>
      <li>IEEE International Conference on Data Mining 2025 (ICDM 2025)</li>
    </ul>
  </li>
</ul>

<h3>Workshop Reviewer</h3>

<ul>
  <li>2025
    <ul>
      <li>KDD Workshop on Uncertainty Reasoning and Quantification in Decision Making, 2025</li>
      <li>KDD Workshop on Ethical Artificial Intelligence: Methods and Applications, 2025</li>
      <li>SDM Workshop on Advances in Robust and Reliable Machine Learning, 2025</li>
    </ul>
  </li>
  <li>Before 2024
    <ul>
      <li>KDD Workshop on Uncertainty Reasoning and Quantification in Decision Making, 2024</li>
      <li>KDD Workshop on Ethical Artificial Intelligence: Methods and Applications, 2024</li>
      <li>AAAI Workshop on Uncertainty Reasoning and Quantification in Decision Making, 2023</li>
    </ul>
  </li>
</ul>

{% include base_path %}

{% for post in site.services reversed %}
  {% include archive-single.html %}
{% endfor %}
