---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h3>Conference Tutorials</h3>

<ul>
  <li>Computational Pathology Foundation Models: Datasets, Adaptation Strategies, and Evaluation.
    <ul>
      <li><strong>Dong Li</strong>, Guihong Wan, Xintao Wu, Yevgeniy Semenov, Chen Zhao.<br>The Annual AAAI Conference on Artificial Intelligence (AAAI), Singapore, January 21st, 2026.</li>
      <li><strong>Dong Li</strong>, Guihong Wan, Chen Zhao, Xintao Wu, Yevgeniy Semenov.<br>The 34th International Joint Conference on Artificial Intelligence (IJCAI), Montreal, Canada,  August 16th, 2025. <a href="https://sites.google.com/view/ijcai25-tutorial-cpath/home">[Website]</a><a href="https://drive.google.com/file/d/1MMXEVfxjoCdFsAZIRsIAR6m9kJol4MId/view">[Slides]</a></li>
      <li><strong>Dong Li</strong>, Chen Zhao, Guihong Wan, Xintao Wu.<br>The Pacific-Asia Conference on Knowledge Discovery and Data Mining (PAKDD), June 10th, 2025. <a href="https://sites.google.com/view/pakdd25tutorial/home">[Website]</a></li>
      
    </ul>
  </li>
  <li>Supervised Algorithmic Fairness in Distribution Shifts.
    <ul> 
      <li><strong>Dong Li</strong>, Chen Zhao, Xintao Wu.<br>The 34th International Joint Conference on Artificial Intelligence (IJCAI), Montreal, Canada, August 16th, 2025. <a href="https://sites.google.com/view/ijcai25-tutorial-fairness/home">[Website]</a><a href="https://drive.google.com/file/d/1a7VXi3Q0iB_ImtRQ80He8TQmZ_raN-rg/view">[Slides]</a></li>
      <li><strong>Dong Li</strong>, Chen Zhao, Xintao Wu.<br>SIAM International Conference on Data Mining (SDM), Alexandria, Virginia, USA, May 1st, 2025. <a href="https://sites.google.com/view/sdm25tutorial/home">[Website]</a><a href="https://drive.google.com/file/d/12Q-HAPL2UQpL2nsYriyj-uKfR3qj1ReR/view">[Slides]</a></li>
      <li><strong>Dong Li</strong>, Chen Zhao, Xintao Wu.<br>The Annual AAAI Conference on Artificial Intelligence (AAAI), Philadelphia, PA, USA, February 25th, 2025. <a href="https://sites.google.com/view/aaai25-tutorial-algor-fair/home">[Website]</a><a href="https://drive.google.com/file/d/1Qkq9iEI3LEHA3AR4YVgGcL3fCEjC_ip6/view">[Slides]</a></li>
    </ul>
  </li>
</ul>

<h3>Invited Talks</h3>

<ul>
  <li>Advances in Fairness and Robustness in Machine Learning Under Distribution Shifts
    <ul>
      <li>AI TIME (October 2024, Online, Host: Qing Qi)</li>
    </ul>
  </li>
</ul>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
